* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.bg-img {   
    background-image: url("assets/img/BG_img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
}

.box {
    background-color: rgb(0, 0, 0);
    height: 80vh;
    width: 100vw;
    opacity: 60%;
    position: relative;
}

.hero {
    font-family: sans-serif;
   
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
    >:first-child {
        font-weight: 900;
        font-size: 64px;
        text-align: center;
    }
    >:nth-child(2)
    {
        font-weight: 900;
        font-size: 64px;
        text-align: center;
    }
    >:nth-child(3)
    {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }
}


.logo {
    height: 8vh;
    width: 8vw;
}


nav {
    width: 60vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.separation
{
    background-color: grey;
    height: 15px;    
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    cursor: pointer;
}

.english{
    background-color: rgba(68, 64, 64, 0.342);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px 30px;
    
}

.signin{
    background-color: red;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}


.email{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
}

.getstart{
    background-color: red;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 4px;
}

.main input{
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: white;
    font-size: 10px;
    padding: 10px 40px;
    border-radius: 4px;
}